@tailwind base;
@tailwind components;

h1 {
  @apply text-2xl leading-tight mb-3 font-semibold font-title text-gray-700;
}

h2 {
  @apply text-xl mb-4 font-semibold font-title leading-tight text-gray-700;
}

h3 {
  @apply text-lg leading-tight mb-3 font-semibold font-title text-gray-700;
}

p {
  @apply text-md leading-snug text-gray-700 font-serif;
}

.c-btn {
  @apply bg-white text-center py-3 px-4 rounded border font-semibold text-gray-700 uppercase text-sm tracking-widest font-sans;
}

.c-btn--primary {
  @apply bg-purple-600 text-white border-0;
}

.c-pill {
  @apply bg-gray-200 text-gray-700 rounded py-1 px-3 text-xs uppercase tracking-widest font-sans font-semibold;
}

.c-card {
  @apply rounded bg-white shadow overflow-hidden h-full flex flex-col;
}

.c-box {
  @apply border px-4 py-6 rounded mb-6 bg-white;
}

.sm-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.lg-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.h-100vh {
  height: 100vh !important;
}

.article {
  background-color: white;
}

.mh-100vh {
  min-height: 100vh;
}

.article-html p {
  @apply mb-3;
}

.article-html p img {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
}

.article-html div img {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
}

.article-html ul {
  @apply text-md leading-snug text-gray-700 font-serif mb-3 ml-6;

  list-style-type: disc;
}

.article-html li {
  @apply mb-1;
}

.article-html .border p {
  @apply mb-0;
}

@screen md {
  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  .sm-container {
    max-width: 600px;
    padding: 0;
  }
}

@screen lg {
  .lg\:h-45rem {
    height: 45rem !important;
  }

  .lg-container {
    max-width: 1024px;
  }

  .article-html p img {
    left: initial;
    margin-left: initial;
    margin-right: initial;
    max-width: initial;
    position: initial;
    right: initial;
    width: initial;
  }
}

.bg-pattern {
  background-color: #805ad5;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.08' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}

@tailwind utilities;
